#what_is_css {
    font-family: Helvetica, sans-serif;
    font-size: 36px;
    font-weight: bold;
}

h2, p, li {
    font-family: Arial, Helvetica, sans-serif;
}

#navbar {
    background-color: rgb(255, 225, 230);
    padding: 25px;
    margin-right: 1600px;
    margin-left: 20px;
    position: fixed;
    border-radius: 25px;
}

.main-section {
    margin-left: 480px;
}